# Streamlit for UI
streamlit

# Web scraping
requests
beautifulsoup4
yfinance

# Time and OS handling
time
os
dotenv

# Transformers (Hugging Face) for NLP tasks
torch
torchvision
torchaudio
tabulate


# NLP & Sentiment Analysis
nltk
youtube-transcript-api
wordcloud
urllib3

# Data Processing & Machine Learning
numpy
pandas
sklearn
xgboost
statsmodels
numpy

# Visualization
matplotlib

# Miscellaneous
collections
pyttsx3
python-dotenv
re
